{% extends "bistro/base.html" %}
<!DOCTYPE html>
<html lang="en">
<body>
    {% block content %}
        <h1>Looking for : </h1>
        <br>
        {% if latest_category_list %}
        <ul>
            {% for category in latest_category_list %}
            <h3><a href="{% url 'bistro:findshop' category.id %}">{{ category.category_name }}</a></h3>
            {% endfor %}              
        </ul>
        {% else %}
            <p>No recommend reataurant.</p>
        {% endif %}
    {% endblock content %}
</body>
</html>

    


