{% extends "bistro/base.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            
                <legend >Review Here :</legend>
                <textarea name="message" cols="40" rows="10" placeholder="Enter message here." required id="id_message">
                </textarea>

            
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>
    </div>
{% endblock content %}