{% extends "bistro/base.html" %}

{% block content %}
    
        <form method="POST">
            {% csrf_token %}
            Restaurant name:
            <input type="text" name="name">
                <legend >Review Here :</legend>
                <textarea name="message" cols="40" rows="10" placeholder="Enter message here." >
                </textarea><br>
                ความพึงพอใจ (0 - 5):
                <input type="number" name="likescore"><br>
                Name :
                <input type="text" name="user">    <br>           
                <button  type="submit">Post</button>
        </form>
    
{% endblock content %}